<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
</head>
<body class="">
    <%- include('../header') %>

    <div class="main-content d-xxl-flex d-xl-flex d-lg-flex"> 
        <%- include('../sidebar', { pageType: 'Painel', userRole }) %>
        <div class="container mt-5 mb-5 m-xxl-4 m-xl-4 m-lg-4 m-md-4 m-sm-4">
            <div class="title-section">
                <div class="d-flex justify-content-start align-items-center mb-4">
                    <h4 class="m-0"><%= pageTitle %></h4>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                          Produtos
                        </div>
                        <div class="card-body">
                          <!-- <h5 class="card-title">Special title treatment</h5> -->
                          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        </div>
                        <div class="card-footer text-muted">
                          Últimos adicionados
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card">
                        <div class="card-header">
                        Categorias
                        </div>
                        <div class="card-body">
                        <!-- <h5 class="card-title">Special title treatment</h5> -->
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        </div>
                        <div class="card-footer text-muted">
                            Últimos adicionados
                        </div>
                    </div>
                </div>
    
            </div>
            <!-- FOOTER -->
            <div class="footer">
                <%- include('../footer') %>
            </div>
            <!-- FOOTER -->
        </div>
    </div>
</body>
</html>
