<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
</head>
<body>
    <%- include('../header') %>
    <div class="main-content d-xxl-flex d-xl-flex d-lg-flex"> 
        <%- include('../sidebar',{ pageType: 'Categorias' }) %>
        <div class="container mb-5 m-4">
            <div class="title-section">
                <div class="d-flex justify-content-start align-items-center mb-4">
                    <h4 class="m-0"><%= pageTitle %></h4>
                </div>
            </div>
            <div class="content-section bg-white bg-body rounded p-4">
                <form action="/categories" method="post">
                    <div class="row">
                        <div class="form-group col">
                            <label for="name">Nome</label>
                            <input type="text" class="form-control" id="name" name="name" required>
                        </div>
                        <div class="form-group col">
                            <label for="price">Descrição</label>
                            <input type="text" class="form-control" id="description" name="description">
                        </div>
                        <div class="form-group col-12">
                            <label for="select_parent">Categoria Principal</label>
                            <select class="form-control" name="parent_id" id="select_parent">
                                <option value="0">Sem principal</option> <!-- Criar uma opção para cada ID -->
                                <% categories.forEach(category => { %> <!-- Iterar sobre as categorias -->
                                    <option value="<%= category.id %>"><%= category.name %></option> <!-- Criar uma opção para cada ID -->
                                <% }); %>
                            </select>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </form>
            </div>
            <!-- FOOTER -->
            <div class="footer">
                <%- include('../footer') %>
            </div>
            <!-- FOOTER -->
        </div>
    </div>

</body>
</html>
