<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
</head>
<body>
    <%- include('../header') %>
    <div class="main-content d-xxl-flex d-xl-flex d-lg-flex"> 
        <%- include('../sidebar',{ pageType: 'Produtos' }) %>
        <div class="container mb-5 m-4">
            <div class="title-section">
                <div class="d-flex justify-content-start align-items-center mb-4">
                    <h4 class="m-0"><%= pageTitle %></h4>
                </div>
            </div>
            <div class="content-section bg-white bg-body rounded p-4">
                <form action="/products/<%= product.id %>" method="post">
                    <div class="mb-3">
                        <label for="categorias" class="form-label">Selecionar Categoria</label>
                        <select class="form-select" id="categorias" name="categorias">
                            <% const renderCategories = (categories, parentPath = '') => { %>
                                <% categories.forEach(category => { %>
                                    <!-- Renderiza a opção para a categoria atual -->
                                    <option value="<%= category.id %>" <% if (product.categories_products_id === category.id) { %> selected <% } %>><%= parentPath + category.name %></option>
                                    <!-- Se a categoria tiver filhos, chama recursivamente a função para renderizá-los -->
                                    <% if (category.children && category.children.length) { %>
                                        <% renderCategories(category.children, parentPath + category.name + ' > '); %>
                                    <% } %>
                                <% }); %>
                            <% } %>
                            <% renderCategories(categoryTree); %>
                        </select>
                    </div>
                    
                    <div class="row mb-3">
                        <div class="col">
                            <label for="name" class="form-label">Nome:</label>
                            <input type="text" class="form-control" id="name" name="name" value="<%= product.name %>" required>
                        </div>
                        <div class="col">
                            <label for="price" class="form-label">Preço:</label>
                            <input type="text" class="form-control" id="price" name="price" value="<%= product.price %>" required>
                        </div>
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Atualizar</button>
                </form>
                
            </div>
            <!-- FOOTER -->
            <div class="footer">
                <%- include('../footer') %>
            </div>
            <!-- FOOTER -->
        </div>
    </div>

        <!-- Script para inicializar o Select2 -->
        <script>
        
            $(document).ready(function() {
                $('#categorias').select2();
            });
        </script>

</body>
</html>
