<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <script>
        function excluirProduto(productId) {
            if (confirm("Tem certeza de que deseja excluir este produto?")) {
                fetch(`/products/${productId}`, {
                        method: 'DELETE'
                    })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Erro ao excluir o produto');
                        }
                        return response.json();
                    })
                    .then(data => {
                        location.reload();
                    })
                    .catch(error => {
                        console.error('Erro:', error);
                        alert('Erro ao excluir o produto');
                    });
            }
        }

        function filtrarPorNome() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("filtroNome");
            filter = input.value.toUpperCase();
            table = document.getElementById("tabelaProdutos");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0]; // índice 0 corresponde à coluna do nome
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
</head>
<body class="products_index">
    <%- include('../header') %>

    <div class="main-content d-xxl-flex d-xl-flex d-lg-flex"> 
        <%- include('../sidebar', { pageType: 'Produtos', userRole}) %>
        <div class="container mt-5 mb-5 m-xxl-4 m-xl-4 m-lg-4 m-md-4 m-sm-4">
            <div class="title-section">
                <% if (successMessage.length > 0) { %>
                    <div class="alert alert-success" role="alert">
                        <%= successMessage[0] %>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                <% } %>
                <div class="d-flex justify-content-start align-items-center mb-4">
                    <h4 class="m-0"><%= pageTitle %></h4>
                    <a href="/products/new" class="btn btn-primary btn-sm ms-3 product-new"> <i class="bi bi-pencil-square"></i> Novo Produto</a>
                </div>
            </div>
            <div class="content-section bg-white bg-body rounded p-4">
                <div class="mb-3 product-filter">
                    <label for="filtroNome" class="form-label">Filtrar por Nome:</label>
                    <input type="text" class="form-control" id="filtroNome" onkeyup="filtrarPorNome()" placeholder="Digite o nome do produto">
                </div>
                <table id="tabelaProdutos" class="table">
                    <thead class="table-light">
                        <tr>
                            <th scope="col">Código</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Preço</th>
                            <th scope="col">Quantidade</th>
                            <th scope="col">Categoria</th>
                            <th scope="col">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% products.forEach(product => { %>
                        <tr>
                            <td><%= product.sku %></td>
                            <td><%= product.name %></td>
                            <td><%= product.price %></td>
                            <td><%= product.quantity %></td>
                            <td><%= product.category_name %></td>
                            <td>
                                <a class="btn btn-sm btn-primary btn-edit" role="button" href="/products/<%= product.id %>/edit">
                                        <i class="bi bi-pen"></i>
                                </a>
                                <button href="#" type="button" class="btn btn-sm btn-danger" onclick="excluirProduto('<%= product.id %>')">
                                    <i class="bi bi-x-lg"></i>
                                </button>
                            </td>
                        </tr>
                        <% }); %>
                    </tbody>
                </table>
                
            </div>
            <!-- FOOTER -->
            <div class="footer">
                <%- include('../footer') %>
            </div>
            <!-- FOOTER -->
        </div>
    </div>
</body>
</html>
